<ons-page modifier="normal">
    
	<my-contents>
	
		<form name="myForm">	
		
			<!-- フォームの入力値がすべて問題ない場合のみ、押下可能 -->
			<ons-fab id="save" position="{{ 'app.ons_fab_var_pos' | translate }} right" ng-disabled="myForm.$invalid">
				<ons-icon icon="fa-floppy-o" ng-click="save();"></ons-icon>
			</ons-fab>
			
			<fieldset>
				<legend>{{ "setting.config.legend.name" | translate }}</legend>
				<div class="input-group">
					<label>{{ 'setting.config.firstday_of_week.name' | translate }}</label>
					<div>
						<ons-select id="firstday_of_week" name="inputFirstdayOfWeek" ng-model="config.col_firstday_of_week" modifier="material" required>
							<option value="0">{{ 'setting.config.day_of_week.sunday' | translate }}</option>
							<option value="1">{{ 'setting.config.day_of_week.monday' | translate }}</option>
							<option value="2">{{ 'setting.config.day_of_week.tuesday' | translate }}</option>
							<option value="3">{{ 'setting.config.day_of_week.wednesday' | translate }}</option>
							<option value="4">{{ 'setting.config.day_of_week.thursday' | translate }}</option>
							<option value="5">{{ 'setting.config.day_of_week.friday' | translate }}</option>
							<option value="6">{{ 'setting.config.day_of_week.saturday' | translate }}</option>
						</ons-select>
					</div>
					<div class="validate" ng-messages="myForm.inputFirstdayOfWeek.$error" ng-show="myForm.inputFirstdayOfWeek.$touched" multiple>
						<span class="invalid" ng-message="required">{{ 'setting.config.firstday_of_week.required' | translate }}</span>
						<span class="invalid" ng-message="pattern">{{ 'setting.config.firstday_of_week.pattern' | translate }}</span>
					</div>
				</div>

				<hr />
				<div class="input-group">
					<label>{{ 'setting.config.event_limit.name' | translate }}</label>
					<div>
					<ons-input id="event_limit" name="inputEventLimit" ng-model="config.col_event_limit" type="number" placeholder="{{ 'setting.config.event_limit.placeholder' | translate }}" pattern="([0-9]{1,2})" mix="0" max="99" modifier="material" float required style="width: 50%;margin-top: 2em;"></ons-input>
					</div>
					<div class="validate" ng-messages="myForm.inputEventLimit.$error" ng-show="myForm.inputEventLimit.$touched" multiple>
						<span class="invalid" ng-message="required">{{ 'setting.config.event_limit.required' | translate }}</span>
						<span class="invalid" ng-message="pattern">{{ 'setting.config.event_limit.pattern' | translate }}</span>
					</div>
					<div>{{ 'setting.config.event_limit.notes' | translate }}</div>
				</div>
				
			</fieldset>
		</form>
		
	</my-contents>
	
</ons-page>
